<header>
  <div id="headerDiv">
    <div id="menuDiv">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
      <ul id="menu">
        <li><a href="">Studies</a></li>
        <li><a href="">Skills</a></li>
        <li><a href="">Projects</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>
  </div>
  <img id="profilePhoto" src="https://i.postimg.cc/7h225NM7/Pics-Art-08-15-04-17-35.jpg" alt="profile image"/>
  <section id="about">
    <h1>Morgana Luz Alemann</h1>
    <p>
      I am a Full Stack Developer. I thrive in both team environments and when
      working independently. My passion lies in creating innovative and
      user-friendly applications, and I have a solid understanding of various
      programming languages and frameworks. My effective collaboration and
      communication skills allow me to meet project deadlines and deliver
      high-quality results. I am fluent in both English and Spanish.
    </p>

    <div id="socialM">
      <div id="socialMenu">
        <img id="menuImg" class="imgSocMed" src="./assets/medios-de-comunicacion-social.png" alt=""/>
        <ul id="sMenu">
          <li>
            <a href=""><img class="imgSocMed" src="https://res.cloudinary.com/dhvz93a4h/image/upload/v1687531123/portfolio/linkedin_v5anzh.png" alt=""/></a>
          </li>
          <li>
            <a href=""><img class="imgSocMed" src="https://res.cloudinary.com/dhvz93a4h/image/upload/v1687531123/portfolio/github_culnco.png" alt=""/></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</header>
