#projectsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.projectImg{
    width: 100%;
    }

.carousel-item{
    height: 15rem;
    overflow: auto;
}

.carousel-inner{
    padding: 1rem;
    border-radius: 1px;
}

#projectCard{
    width: 30%;
    height: fit-content;
    transition: all 1s;
    position: relative;
    background-color: #ffffff5e;
    padding: 1rem 0 0.5rem;
    text-align: center;
    border-radius: 10%;
}
.carousel-item {
    transform: translateX(0);
    transition: transform 1.5s ease-in-out;
  }

  .carousel-item-next,
  .carousel-item-prev {
    transform: translateX(100%);
    transition: 1.5s;
  }
* {
    scrollbar-width: thin;
    scrollbar-color: #49808D #DDE7E9;
  }
  
  *::-webkit-scrollbar {
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #DDE7E9;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #D9E3E5;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #49808D;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #5CA1B2;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #5CA1B2;
  }
  
  
.description {
    top: 100%;
    left: 0;
    width: 100%;
    height: fit-content;
    max-height: 12rem;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, transition-delay 0.3s;
    background-color: #ffffff38;
    border-radius: 0 0 15px 15px;
}

.card:hover .description {
    max-height: 30rem;
    transition: max-height 0.5s ease-in-out;
    background-color: #ffffff38;
    border-radius: 0 0 15px 15px;
} 
.card:hover{
    background-color: #ffffff;
    transform: scale3d(1.4, 1.4, 1.4);;
}