<section id="skillsSection">
  <h3 id="skillsH">Hard Skills & Soft Skills</h3>
  <div id="allSkillContainer">
    <div class="skillsContainer">
        <h5>Hard Skills</h5>
        <div id="hS">
        <div class="skillsDiv" *ngFor="let hskill of hards">
          <p class="skillN">
            <strong>{{ hskill.name }} </strong>
          </p>
        </div>
      </div>
    </div>
    <div class="skillsContainer">   
        <h5>Soft Skills</h5>
        <div id="sS">
        <div class="skillsDiv" *ngFor="let sskill of softs">
          <p class="skillN">
            <strong>{{ sskill.name }} </strong>
          </p>
        </div>
      </div>
    </div>

    <div class="skillsContainer">
      <h5>Lenguages</h5>
      <div id="sL">
      <div class="skillsDiv" *ngFor="let lenguage of lenguages">
        <p class="skillN">
          <strong>{{ lenguage.name }} </strong>
        </p>
      </div>
    </div>
    </div>
  </div>
</section>
